@media screen and (min-width: 750px) {
    .box {
        width: 25%;
        float: left;
    }
    .header,
    .footer {
        width: 84%;
    }
}

@media screen and (max-width: 750px) {
    .header,
    .footer {
        width: 20%;
    }
}

.header {
    background-color: orange;
    margin: 5px;
    height: 100px;
}

.box {
    background-color: lightblue;
    margin: 5px;
    height: 100px;
    max-width: 20%;
}

.footer {
    background-color: lightgreen;
    margin: 5px;
    height: 100px;
    clear: both;
}

<!DO
